# ignore the eslint settings file
.eslintrc.js
# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
public
# don't lint webpack configurations
webpack.common.js
webpack.prod.js
webpack.dev.js
# don't lint react env types
src/types/react-app-env.d.ts